<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/form-stylesheet.css}">
</head>

<body>
    <div class="container">
        <h2>Javagram</h2>
        <form method="post" th:object="${user}" th:action="@{/submitItem}">
            <input th:field="*{firstName}" type="text" placeholder="First Name">
            <p style="color:red; " th:errors="*{firstName}"></p>
            <input th:field="*{lastName}" type="text" placeholder="Last Name">
            <p style="color:red; " th:errors="*{lastName}"></p>
            <input th:field="*{userName}" type="text" placeholder="Username">
            <p style="color:red; " th:errors="*{userName}"></p>
            <input th:field="*{email}" type="text" placeholder="Email">
            <p style="color:red; " th:errors="*{email}"></p>
            <p style="font-weight: bold">Date of Birth</p>
            <input th:field="*{dateOfBirth}" type="date"> <br><br>
            <input type="submit" value="Submit">
        </form>

    </div>
</body>

</html>