<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <div>
        <table border="1" style="width:100%;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Episode</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Breaking Bad</td>
                    <td>Ozymandias</td>
                    <td>10.0</td>
                </tr>
                <tr>
                    <td>Attack on Titan</td>
                    <td>Hero</td>
                    <td>9.9</td>
                </tr>
                <tr>
                    <td>Attack on Titan</td>
                    <td>Perfect Game</td>
                    <td>9.9</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>